<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>RCP Polls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <h1>RealClearPolitics Polling Summary</h1>
  <p>
    This minimalist project displays recent poll averages from
    <a href="https://www.realclearpolitics.com">RCP</a> for key races.
    Updated daily.
  </p>
  <p>
    No adjustments, analysis, or commentary. Don't believe me?
    <a href="https://github.com/nickrusso42518/polls">See the code.</a>
  </p>
  <p>
    Learn more about Nick Russo at
    <a href="http://njrusmc.net">http://njrusmc.net</a>
    where I have tons of other cool stuff!
  </p>
{% for name, election in data.items() %}
  <h3>Election type: {{ name }}</h3>
  <ul>
{% for race in election.values() %}
{% if race["enable"] %}
    <li style="color:{{ race['color'] }};">{{ race["text"] }}</li>
{% endif %}
{% endfor %}
  </ul>
{% endfor %}
</body>
</html>
