<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>RCP Polls</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <h1>RealClearPolitics Polling Summary</h1>
  <p>
    This minimalist project displays recent poll averages from
    <a href="https://www.realclearpolitics.com">RCP</a> for key races.
  </p>
  <p>
    No adjustments, analysis, or commentary. Updated daily. Learn more
    about me at <a href="http://njrusmc.net">my main website.</a>
  </p>

{% for name, election in data.items() %}
  <h3>Election type: {{ name }}</h3>
  <ul>
{% for race in election.values() %}
{% if race["enable"] %}
    <li>{{ race["text"] }}</li>
{% endif %}
{% endfor %}
  </ul>
{% endfor %}

  <h2>Donate</h2>
  <p>
    I pay for this out of my own pocket. Please consider
    <a href="http://njrusmc.net">making a donation!</a>
  </p>

</body>
</html>
